.compact-panel {
  font-size: 13px;
  line-height: 1.2;
}

.compact-panel .ms-TextField,
.compact-panel .ms-Dropdown,
.compact-panel .ms-DatePicker {
  font-size: 12px;
  min-height: 26px;
  padding: 3px 8px;
}

.compact-panel .ms-Label {
  font-size: 13px;
}

.compact-panel .ms-PrimaryButton {
  font-size: 13px;
  min-height: 28px;
  padding: 0 16px;
}

.rootContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* or 100% if parent allows */
}

.filterAndHeaderSection {
  flex: 0 0 auto;
  /* fixed height for filters */
}

.dropdownContainer {
  width: 300px;
  /* Width of the dropdown box */
}

.callout {
  min-width: 350px !important;
  /* Width of the dropdown popup */
}

.dropdownItem {
  white-space: normal !important;
  text-overflow: clip !important;
  overflow: visible !important;
  max-width: none !important;
}

.myWrap {
  width: 400px;
  margin-bottom: 16px;
}

.detailsList_Scrollablepane_Container {
  height: 100%;
  // position: static !important;
  /* fixed value, NOT 100% */
  overflow: auto;
}

.detailsListContainer {
  flex: 1 1 auto;
  min-height: 0;
  height: 300px;
}

.attachmentRow {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  /* Default horizontal layout */
}

@media (max-width: 600px) {
  .attachmentRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .attachmentRow .attachmentFileName,
  .attachmentRow .attachmentButtons {
    width: 100%;
    margin-bottom: 4px;
  }
}